<div id="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <app-navbar></app-navbar>

            <div class="container">
                <section class="firstDivAfterNav"></section>
                <div class="TitleOfPicture">
                    <h1 class="textInImg" style="letter-spacing: 13px;
                  font-size: 75px;
                  color: #F79F17;
               text-align: center;
                  font-family: comic sans-serif;">About Success.tn</h1>

                </div>

                <div class="pageContenu">
                    <div class="stats">
                        <span class="khat">
                            <em></em>
                        </span>


                        <h5
                            style="letter-spacing: 5px;
                    font-size: 50px;
                    color: #F79F17;
                    margin: 20px 0 45px 0;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                            why us
                            ?</h5>
                        <div class="allDivWhyUs row">
                            <div class="col-lg-4 whyUsIMG">
                                <img class="imgWhy" src="./../../../../assets/imgs/advantage.png"
                                    style="width: 450px;height: 340px;" alt="">
                                <h5 class="whyUsAnimationTexts"
                                    style="top: 225px;position: absolute;left: 45.5%;color: white;font-weight: 400;">
                                    online courses</h5>
                                <div class="whyUsCard">
                                    <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_ym2HXd.json"
                                        background="transparent" speed="1"
                                        style="width: 200px; height: 200px;position: absolute;transform: translateX(-50%);left:50%;top: -26%;"
                                        loop hover></lottie-player>
                                </div>
                            </div>

                            <div class="col-lg-4 whyUsIMG">
                                <img class="imgWhy" src="./../../../../assets/imgs/advantage.png"
                                    style="width: 450px;height: 340px;" alt="">
                                <h5 class="whyUsAnimationTexts"
                                    style="top: 225px;position: absolute;left: 44%;color: white;font-weight: 400;">
                                    Safety Learning</h5>
                                <div class="whyUsCard">
                                    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_AxmMba.json"
                                        background="transparent" speed="1"
                                        style="width: 200px; height: 200px;position: absolute;transform: translateX(-50%);left:50%;top: -26%;"
                                        hover loop></lottie-player>
                                </div>
                            </div>

                            <div class="col-lg-4 whyUsIMG">
                                <img class="imgWhy" src="./../../../../assets/imgs/advantage.png"
                                    style="width: 450px;height: 340px;" alt="">
                                <h5 class="whyUsAnimationTexts"
                                    style="top: 225px;position: absolute;left: 45.5%;color: white;font-weight: 400;">
                                    Quick Paiment</h5>
                                <div class="whyUsCard">

                                    <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_jXj4q7.json"
                                        background="transparent" speed="1"
                                        style="width: 200px; height: 200px;position: absolute;transform: translateX(-50%);left:50%;top: -20%;"
                                        loop hover></lottie-player>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- BEGIN team -->
                    <div class="team">
                        <!-- Swiper -->
                        <span class="khat">
                            <em></em>
                        </span>
                        <h5
                            style="letter-spacing: 5px;
                        font-size: 50px;
                        color: #F79F17;
                        margin: 20px 0 45px 0;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                            our instructors team
                        </h5>
                        <div style="height: 50vh;" class="section row">
                            <div *ngFor="let prof of profs" class="col-3">
                                <!-- Card -->
                                <div class="card mb-4">

                                    <!-- Card image -->
                                    <div class="view overlay">
                                        <img class="card-img-top" src="http://localhost:3000/{{prof.image}}"
                                            style="height: 28vh;" alt="our teamates has not a pic">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>

                                    </div>

                                    <!-- Card content -->
                                    <div class="">

                                        <button style="top: -49.1px;width: 100%;height: 100%;" class="btn btn-warning">
                                            <p style="font-weight: 900;font-size: 18px;margin-top: 10px;">
                                                {{prof.firstname}} {{prof.lastname}}
                                            <p style="font-size: 15px;">{{prof.role}}</p>

                                        </button>

                                    </div>

                                </div>
                                <!-- Card -->
                            </div>
                        </div>
                        <!-- Swiper JS -->



                    </div>
                    <div class="team">
                        <!-- Swiper -->
                        <span class="khat">
                            <em></em>
                        </span>
                        <h5
                            style="letter-spacing: 5px;
                        font-size: 50px;
                        color: #F79F17;
                        margin: 20px 0 45px 0;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                            the admin and the Developer of this website
                        </h5>
                        <div style="height: 50vh;" class="section row">
                            <div *ngFor="let admine of admine" class="col-3">
                                <!-- Card -->
                                <div class="card mb-4">

                                    <!-- Card image -->
                                    <div class="view overlay">
                                        <img class="card-img-top" src="http://localhost:3000/{{admine.image}}"
                                            style="height: 28vh;" width="100%" alt="our teamates has not a pic">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>

                                    </div>

                                    <!-- Card content -->
                                    <div class="">

                                        <button style="top: -49.1px;width: 100%;height: 100%;" class="btn btn-warning">
                                            <p style="font-weight: 900;font-size: 18px;margin-top: 10px;">
                                                {{admine.firstname}} {{admine.lastname}}
                                            <p style="font-size: 15px;">{{admine.role}}</p>

                                        </button>

                                    </div>

                                </div>
                                <!-- Card -->
                            </div>
                        </div>
                        <!-- Swiper JS -->



                    </div>


                </div>

            </div>
            <!--BEGIN FOOTER-->
            <app-footer></app-footer>
            <!--END FOOTER-->
        </div>
    </div>
</div>