<div id="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <app-navbar></app-navbar>

            <div class="container">
                <section class="firstDivAfterNav"></section>
                <div class="TitleOfPicture">
                    <h1 class="textInImg" style="letter-spacing: 13px;
                  font-size: 75px;
                  color: #F79F17;
               text-align: center;
                  font-family: comic sans-serif;">About e-coaching.tn</h1>

                </div>

                <div class="pageContenu">
                    <div class="stats">
                        <span class="khat">
                            <em></em>
                        </span>


                        <h5
                            style="letter-spacing: 5px;
                    font-size: 40px;
                    color: #F79F17;
                    margin: 20px 0 45px 0;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                            why us
                            ?</h5>
                        <div class="allDivWhyUs row">
                            <div class="col-lg-4 whyUsIMG">
                                <img class="imgWhy" src="./../../../../assets/imgs/advantage.png"
                                    style="width: 450px;height: 340px;" alt="">
                                <h5 class="whyUsAnimationTexts"
                                    style="top: 225px;position: absolute;left: 45.5%;color: white;font-weight: 400;">
                                    online courses</h5>
                                <div class="whyUsCard">
                                    <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_ym2HXd.json"
                                        background="transparent" speed="1"
                                        style="width: 200px; height: 200px;position: absolute;transform: translateX(-50%);left:50%;top: -26%;"
                                        loop hover></lottie-player>
                                </div>
                            </div>

                            <div class="col-lg-4 whyUsIMG">
                                <img class="imgWhy" src="./../../../../assets/imgs/advantage.png"
                                    style="width: 450px;height: 340px;" alt="">
                                <h5 class="whyUsAnimationTexts"
                                    style="top: 225px;position: absolute;left: 44%;color: white;font-weight: 400;">
                                    Safety Learning</h5>
                                <div class="whyUsCard">
                                    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_AxmMba.json"
                                        background="transparent" speed="1"
                                        style="width: 200px; height: 200px;position: absolute;transform: translateX(-50%);left:50%;top: -26%;"
                                        hover loop></lottie-player>
                                </div>
                            </div>

                            <div class="col-lg-4 whyUsIMG">
                                <img class="imgWhy" src="./../../../../assets/imgs/advantage.png"
                                    style="width: 450px;height: 340px;" alt="">
                                <h5 class="whyUsAnimationTexts"
                                    style="top: 225px;position: absolute;left: 45.5%;color: white;font-weight: 400;">
                                    Quick Paiment</h5>
                                <div class="whyUsCard">

                                    <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_jXj4q7.json"
                                        background="transparent" speed="1"
                                        style="width: 200px; height: 200px;position: absolute;transform: translateX(-50%);left:50%;top: -20%;"
                                        loop hover></lottie-player>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- BEGIN team -->
                    <div class="team">
                        <!-- Swiper -->
                        <span class="khat">
                            <em></em>
                        </span>
                        <h1 style="  
                    font-size: 60px;
                    color: #F79F17;
                    margin: 20px 0 45px 0;
                    font-family: lato;
                    margin: 0;">our team</h1>
                        <div style="height: 50vh;" class="section">

                        </div>
                        <!-- Swiper JS -->


                    </div>


                </div>
              
            </div>
              <!--BEGIN FOOTER-->
              <app-footer></app-footer>
              <!--END FOOTER-->
        </div>
    </div>
</div>