<!--BEGIN navbar-->

<div class="container">
    <nav style="width: 100% !important;" class="">
        <div class="menu-icons">
            <i class="icon ion-md-menu"><img src="./../../../../assets/imgs/menuS.png" alt=""></i>
            <i class="icon ion-md-close"><img src="./../../../../assets/imgs/close.png" alt=""></i>
        </div>

        <ul class="nav-list">
            <app-logo></app-logo>
            <li class="ml-5">
                <button style="width: 180px; height: 44px; font-size: 15px;" class="btn btnC btn-light">categories
                    <i><img style="width: 16px; height: 20px;" src="./media/down.png" alt=""></i>
                </button>
                <ul class="sub-menu">
                    <li>
                        <a routerLink="/categorie-development">development
                            <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                        </a>
                        <ul style="width: max-content;" class="sub-menu">
                            <li>
                                <a href="#">all</a>
                            </li>
                            <li>
                                <a href="#">web developments
                                    <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                                </a>
                                <ul style="width: 150px;" class="sub-menu">
                                    <li>
                                        <a href="#"> all</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>

                                    <li>
                                        <a href="#">CSS

                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">JS</a>
                                    </li>
                                    <li>
                                        <a href="#">PHP</a>
                                    </li>

                                </ul>
                            </li>

                            <li>
                                <a href="#">mobile apps
                                    <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#"> all</a>
                                        </li>
                                        <li>
                                            <a href="#">android development</a>
                                        </li>

                                        <li>
                                            <a href="#">mobile development

                                            </a>
                                        </li>


                                    </ul>
                                </a>
                            </li>
                            <li>
                                <a href="#">programming languages
                                    <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#"> all</a>
                                        </li>
                                        <li>
                                            <a href="#">python</a>
                                        </li>

                                        <li>
                                            <a href="#">c

                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">java</a>
                                        </li>
                                        <li>
                                            <a href="#">c++</a>
                                        </li>
                                        <li>
                                            <a href="#">c#</a>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            <li>
                                <a href="#">game developments
                                    <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#"> all</a>
                                        </li>
                                        <li>
                                            <a href="#">unity</a>
                                        </li>

                                        <li>
                                            <a href="#">c#

                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">2d game developments</a>
                                        </li>

                                        <li>
                                            <a href="#">3d game developments</a>
                                        </li>

                                    </ul>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a routerLink="/categorie-design">design
                            <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">all</a>
                            </li>
                            <li>
                                <a href="#">web design
                                    <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">all</a>
                                    </li>
                                    <li>
                                        <a href="#">photoshop</a>

                                    </li>
                                    <li>
                                        <a href="#">css</a>
                                    </li>
                                    <li>
                                        <a href="#">wordpress</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">graphic design
                                    <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">all</a>
                                    </li>
                                    <li>
                                        <a href="#">photoshop</a>

                                    </li>
                                    <li>
                                        <a href="#">adobe illustrator</a>
                                    </li>
                                    <li>
                                        <a href="#">logo design</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">game design
                                    <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">all</a>
                                    </li>
                                    <li>
                                        <a href="#">unity</a>

                                    </li>
                                    <li>
                                        <a href="#">blender</a>
                                    </li>
                                    <li>
                                        <a href="#">unreal engine</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/categorie-photography">photography
                            <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                        </a>

                        <ul class="sub-menu">
                            <li>
                                <a href="#">all</a>
                            </li>
                            <li>
                                <a href="#">portraits
                                    <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">all</a>
                                    </li>
                                    <li>
                                        <a href="#">portraits P.GRAPHY</a>
                                    </li>
                                    <li>
                                        <a href="#">photoshop retouching</a>
                                    </li>
                                    <li>
                                        <a href="#">cameras</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">commercial P.graphy
                                    <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">all</a>
                                    </li>
                                    <li>
                                        <a href="#">photo graphy business</a>
                                    </li>
                                    <li>
                                        <a href="#">food photography</a>
                                    </li>
                                    <li>
                                        <a href="#">wedding photo graphy</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">video design
                                    <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">all</a>
                                    </li>
                                    <li>
                                        <a href="#">video editing</a>
                                    </li>
                                    <li>
                                        <a href="./hello.html">adobe premiere</a>
                                    </li>
                                    <li>
                                        <a href="#">color grading</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/categorie-teaching">teaching
                            <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                        </a>
                        <ul style="width: 150px;" class="sub-menu">
                            <li>
                                <a href="#">all</a>
                            </li>
                            <li>
                                <a href="#">BAC</a>
                            </li>
                            <li>
                                <a href="#">prepa</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/categorie-gaming">co-gaming
                            <i><img style="width:23px; height: 16px;" src="./media/right.png" alt=""></i>
                        </a>
                        <ul style="width: 150px;" class="sub-menu">
                            <li>
                                <a href="#">all</a>
                            </li>
                            <li>
                                <a href="#">LOL</a>
                            </li>
                            <li>
                                <a href="#">FIFA</a>
                            </li>
                            <li>
                                <a href="#">other ...</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="ml-5">
                <a *ngIf="!isLoggedIn" style="padding: 0;" class="loginbtn" routerLink="/login"><button
                        style="width: 120px; height: 44px; font-size: 16px;" type="button" class=" btn btn-info ">Log
                        In</button></a>
            </li>
            <li style="margin-left: 20px;">

                <a *ngIf="!isLoggedIn" style="padding: 0;" class="registerbtn" routerLink="/register"> <button
                        style="width: 120px; height: 44px; font-size: 16px;" class="btn signupbtn btn-danger">Sign
                        Up</button></a>
            </li>




            <li *ngIf="isLoggedIn">
                <button class="btn profile">
                    <span class="userInitial">
                        {{fullname[0]}}
                    </span>
                </button>

                <ul class="sub-menu pro">
                    <div class="nameAndEmail">
                        <div style="transform: translateY(18%);display: flex;">
                            <button style="left: 20px;" class="btn profile">
                                <span class="userInitial">
                                    {{fullname[0]}}


                                </span>
                            </button>
                            <ul style="left: 100px;width: 71%;height: 100%;position: absolute; " class="kodemLogoUser">
                                <li style="font-size: 20px;font-family: comic sans ms;top: -15px;">
                                    {{fullname}}
                                </li>
                                <li style="font-size: 20px;font-family: comic sans ms;top: -45px; color: #707070d5;">
                                    {{email}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="profileLinks">
                        <div class="linksOfProfile">
                            <a class="aprofile" [routerLink]="['/profile',idU]">
                                <i><img style="margin-bottom : 20px;margin-left: 50px;width: 50px;"
                                        src="../../../../assets/imgs/logoprofile.png" alt=""></i>
                                <span class="myProfilelinks">my profile</span>
                            </a>
                        </div>

                        <div class="linksOfProfile">
                            <a class="aprofile">
                                <i><img style="margin-bottom : 20px;margin-left: 50px;width: 50px;"
                                        src="../../../../assets/imgs/favourite.png" alt=""></i>
                                <span class="myProfilelinks">my favorites</span>
                            </a>
                        </div>

                        <div class="linksOfProfile">
                            <a class="aprofile">
                                <i><img style="margin-bottom : 20px;margin-left: 50px;width: 50px;"
                                        src="  ../../../../assets/imgs/help.png" alt=""></i>
                                <span class="myProfilelinks">help</span>
                            </a>
                        </div>

                        <div class="linksOfProfile">
                            <a class="aprofile" (click)="logout()">
                                <i><img style="margin-bottom : 20px;margin-left: 50px;width: 50px;"
                                        src="../../../../assets/imgs/logout.png" alt=""></i>
                                <span class="myProfilelinks">log-out</span>
                            </a>
                        </div>
                    </div>
                </ul>

            </li>
        </ul>

    </nav>
</div>

<!--END navbar-->